$color-lightblue:#58B7FF;
$color-blue:#20A0FF;
$color-darkblue:#1D8CE0;
$color-success:#13CE66;
$color-warning:#F7BA2A;
$color-danger:#FF4949;

$color-black:#1F2D3D;
$color-lightblack:#324057;
$color-extralightblack:#475669;

$color-silver:#8492A6;
$color-lightsilver:#99A9BF;
$color-extralightsilver:#C0CCDA;
$color-gray:#D3DCE6;
$color-lightgray:#E5E9F2;
$color-extralightgray:#EFF2F7;

$color-darkwhite:#F9FAFC;
$color-lightwhite:#FFFFFF;